<table border="1">
   <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Sales Volume</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let salesPerson of salesPersonList">
        <td>{{salesPerson.firstName}}</td>
        <td>{{salesPerson.lastName}}</td>
        <td>{{salesPerson.email}}</td>
        <td>{{salesPerson.salesVolume}}</td>
      </tr>
   </tbody>
</table>
